

* 
{
  background-image: url('fondo.jpg');
}

.box-spec {
      padding: 1px;
      margin-top:1px;
    }

{
  box-sizing: border-box;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #2b22d9;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 15px;
}
