{% extends "layout.html" %}

{% block main %}

    <h1>Cálculo de cruceta de madera según CNE Suministro 2011. Piura y Tumbes</h1>
    <p>Hoja de cálculo interactiva para el cálculo de crucetas de madera al tense longitudinal de línea y a carga vertical</p>

    <iframe src="http://docs.google.com/gview?url=https://docs.google.com/spreadsheets/d/1SPcRiw273IoMr84IlEwpvroRNk_kqF2x/edit?usp=sharing&ouid=113896403229472795050&rtpof=true&sd=true&embedded=true" style="width:600px; height:450px;" frameborder="0"></iframe>


    <p><b>Para simulaciones particulares utilizar el formulario de contacto</p>

{% endblock %}
