{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}

    <div class="box-spec">
      <div class="a">Cálculos Especiales en Líneas de Transmisión</div>

      <div class="b">Cálculo de rotura de una fase, Cálculo de tenses con cargas diferenciadas por vanos, Tensado de un vano individual o vano flojo, Oscilación y colisión de conductores por cortocircuito</div>

      <p>Con el desarrollo de los sistemas de transmisión comienzan a surgir problemas especiales
         en los componentes de las líneas.</p>

      <p>La probabilidad de estos problemas especiales queda acentuada considerando la particular geografía en esta parte del mundo, considérese el cruce de quebradas de más de un kilómetro, el discurrir de líneas por más de 5000 msnm, las velocidades de viento en zonas con geografía montañosa, etc.</p>

      <p>En el menú superior puede elegir la simulación del caso especial que se quiere analizar.</p>

      <p>La mayor parte son gratuitos y algunos cálculos especiales son con paga.</p>

      <p>Para mayor información ir a la página de Contacto o escribir a: cespivilla@gmail.com</p>
    </div>

{% endblock %}


