{% extends "layout.html" %}

{% block main %}

    <h1>Verificación prestación mecánica estructuras. Piura y Tumbes</h1>
    <p>Video explicativo de la verificación de la prestación mecánica de estructuras de concreto armado centrifugado (CAC) que trabajan por momento límite en la base del poste</p>
    <p>La verificación de postes de madera tiene un método ligeramente distinto</p>

    <video width="400" controls>
      <source src="static/Verificación prestacion en planillas.mp4" type="video/mp4">
      La versión de su explorador no soporta video HTML.
    </video>

    <p>Video cortesía de: cespivilla@gmail.com.</p>




    <p><b>Para tutorías detalladas personalizadas utilizar el formulario de contacto</p>

{% endblock %}
