{% extends "layout.html" %}

{% block title %}
    Unispan
{% endblock %}


{% block main %}

    <script>

        function required()
        {
            var a = document.forms["Form"]["sec"].value;
            var b = document.forms["Form"]["fi"].value;
            var c = document.forms["Form"]["mass"].value;
            var d = document.forms["Form"]["mod"].value;
            var e = document.forms["Form"]["alfa"].value;
            var f = document.forms["Form"]["temp0"].value;
            var g = document.forms["Form"]["param0"].value;
            var h = document.forms["Form"]["tempf"].value;
            var i = document.forms["Form"]["wp"].value;
            var j = document.forms["Form"]["ice"].value;
            var k = document.forms["Form"]["pehie"].value;
            var m = document.forms["Form"]["pg1"].value;
            var n = document.forms["Form"]["cot1"].value;
            var o = document.forms["Form"]["pg2"].value;
            var p = document.forms["Form"]["cot2"].value;
            var q = document.forms["Form"]["lcad"].value;
            var r = document.forms["Form"]["pcad"].value;
            var s = document.forms["Form"]["nsub"].value;


            var x = (a == "" || b == "" || c == "" || d == "" || e == "" || f == "" || g == "" || h == "" || i == "" || j == "" || k == "")
            var y = (m == "" || n == "" || o == "" || p == "" || q == "" || r == "" || s == "")
            if (x || y)
            {
              alert("Por favor ingrese todos los datos");
              return false;
            }
            else
            {
              return true;
            }
        }

    </script>

        <h2>Cálculo mecánico de un vano individual limitado por cadenas de anclaje sujetas a apoyos fijos</h2> 
        <p></p>
        <center><img src="/static/unispan.jpg" alt="VanoIndividual" width="500" height="333"> </center>
        <p></p>
        <p>Los resultados no son iguales que los de un vano individual con sus extremos anclados a apoyos fijos. Esto es debido a que las cadenas de anclaje
           presentan movimientos en los ejes horizontal y vertical debido al tense horizontal de los conductores. Estos desplazamientos de las cadenas pueden
           ser pequeños pero de magnitud suficiente para que lo resultados sean diferentes. Esta característica permite optimizar las cargas sobre los pórticos</p> 
        <p>La presente modelación se limita para cadenas de anclaje con una longitud no mayor que 3 m asumiéndose que las cadenas presentarán rigidez</p>
        <p>Para longitudes de cadena más largas debe modelarse la cadena como un cuerpo no rígido. Para estas simulaciones contactarse mediante el formulario de 
           contacto</p>


        <div class="header">
            <h5>Llenar los datos del conductor, los datos del tensado inicial y los parámetros de estado finales</h5><br>
        </div>


    <form name="Form" action="/unispan" method="post" onsubmit="return required();">

        <h6>Datos del conductor</h6>
        <div class="row">
          <div class="col">
            <label for="sec">Sección(mm2)</label>
            <input autofocus type="number" class="form-control" name="sec" id="sec" placeholder="Seccion (mm2)" max="5000." min="50.0" step="any">
          </div>
          <div class="col">
            <label for="fi">Diámetro(mm)</label>
            <input type="number" class="form-control" name="fi" id="fi" placeholder="Diámetro (mm)" max="50.0" min="8.0" step="any">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="mass">Masa longitudinal(kg/m)</label>
            <input autofocus type="number" class="form-control" name="mass" id="mass" placeholder="Masa longitudinal(kg/m)" max="4.0" min="0.1" step="any">
          </div>
          <div class="col">
            <label for="mod">Módulo de Elasticidad(kgf/mm2)</label>
            <input autofocus type="number" class="form-control" name="mod" id="mod" placeholder="Módulo de Elasticidad(kgf/mm2)" max="21000.0" min="5000.0" step="any">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="alfa">Coeficiente de dilatación lineal(1/°C)</label>
            <input type="number" class="form-control" name="alfa" id="alfa" placeholder="Coeficiente de dilatación lineal(1/°C)" max="0.00003" min="0.00001" step="any">
          </div>
        </div>
        <br>

        <h6>Datos del tensado inicial</h6>
        <div class="row">
          <div class="col">
            <label for="temp0">Temperatura inicial(°C)</label>
            <input autofocus type="number" class="form-control" name="temp0" id="temp0" placeholder="Temperatura inicial(°C)" max="100.0" min="-5.0" step="any">
          </div>
          <div class="col">
            <label for="param0">Parámetro de tensado(m)</label>
            <input type="number" class="form-control" name="param0" id="param0" placeholder="Parámetro de tensado(m)" max="1500.0" min="70.0" step="any">
          </div>
        </div>
        <br>

        <h6>Datos del estado final</h6>
        <div class="row">
          <div class="col">
            <label for="tempf">Temperatura final(°C)</label>
            <input autofocus type="number" class="form-control" name="tempf" id="tempf" placeholder="Temperatura final(°C)" max="100.0" min="-20.0" step="any">
          </div>
          <div class="col">
            <label for="wp">Presión de viento(kgf/m2)</label>
            <input type="number" class="form-control" name="wp" id="wp" placeholder="Presión de viento(kgf/m2)" max="120.0" min="0.0" step="any">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="ice">Espesor de hielo(mm)</label>
            <input autofocus type="number" class="form-control" name="ice" id="ice" placeholder="Espesor de hielo(mm)" max="100.0" min="0.0" step="any">
          </div>
          <div class="col">
            <label for="pehie">Densidad del hielo(gr/cm3; generalmente 0.913 gr/cm3 según CNE Perú)</label>
            <input type="number" class="form-control" name="pehie" id="pehie" placeholder="Densidad del hielo(gr/cm3)" max="1.0" min="0.6" step="any">
          </div>
        </div>
        <br>

        <h6>Datos de la instalación</h6>
        <div class="row">
          <div class="col">
            <label for="pg1">Progresiva pórtico izquierdo(m)</label>
            <input autofocus type="number" class="form-control" name="pg1" id="pg1" placeholder="Progresiva pórtico izquierdo">
          </div>
          <div class="col">
            <label for="cot1">Cota pórtico izquierdo(m)</label>
            <input autofocus type="number" class="form-control" name="cot1" id="cot1" placeholder="Cota pórtico izquierdo">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="pg2">Progresiva pórtico derecho(m)</label>
            <input autofocus type="number" class="form-control" name="pg2" id="pg2" placeholder="Progresiva pórtico derecho">
          </div>
          <div class="col">
            <label for="cot2">Cota pórtico derecho(m)</label>
            <input autofocus type="number" class="form-control" name="cot2" id="cot2" placeholder="Cota pórtico derecho">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="lcad">Longitud de cadena(m)</label>
            <input autofocus type="number" class="form-control" name="lcad" id="lcad" placeholder="Longitud de cadena" max="3.0" min="0.1" step="any">
          </div>
          <div class="col">
            <label for="pcad">Peso de la cadena(kgf)</label>
            <input autofocus type="number" class="form-control" name="pcad" id="pcad" placeholder="Peso de la cadena" max="250.0" min="5.0" step="any">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="nsub">Número de sub-conductores</label>
            <input autofocus type="number" class="form-control" name="nsub" id="nsub" placeholder="Número de sub-conductores" max="6" min="1" step="1">
          </div>
        </div>

        <div id="result">
            
        </div>
        <br>


        <div class="row">
          <div class="col">
            <button type="submit" id="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
        <br>

   </form>

{% endblock %}


